NEXT_PUBLIC_GENLAYER_RPC_URL=https://zksync-os-testnet-genlayer.zksync.dev
NEXT_PUBLIC_GENLAYER_CHAIN_ID=4221
NEXT_PUBLIC_GENLAYER_CHAIN_NAME=GenLayer Bradbury Testnet
NEXT_PUBLIC_GENLAYER_SYMBOL=GEN
NEXT_PUBLIC_CONTRACT_ADDRESS=0xd77F1Df3103AfB8715b715992b2DBaf8d5529134
